.links {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  list-style: none;
  padding: 0%;
  padding-bottom: 8px;
  overflow-x: auto;
  justify-content: space-evenly;
  position: sticky;
  top: 0%;
  background-color: #e7dafc;
  padding: 1.5%;
}

.links a {
  list-style: none;
  text-decoration: none;
  color: rgb(76, 55, 82);
}
