/*LINKS*/
.links {
  display: flex;
  flex-flow: wrap;
  gap: 0px;
  list-style: none;
  padding: 0%;
  padding-bottom: 8px;
  overflow-x: auto;
  justify-content: space-evenly;
  position: sticky;
  top: 0%;
  background-color: #000000;
  padding: 1.5%;
}

.links a,
.en,
.to,
.tre,
.fire,
.fem {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.links .en:hover {
  background-color: rgba(110, 228, 218, 0.164);
  color: #ffffff;
}

.links .to:hover {
  background-color: rgba(185, 110, 228, 0.164);
  color: #ffffff;
}

.links .tre:hover {
  background-color: rgba(110, 141, 228, 0.164);
  color: #ffffff;
}

.links .fire:hover {
  background-color: rgba(228, 110, 149, 0.164);
  color: #ffffff;
}
/*MANGLER*/
.links .fem:hover {
  background-color: rgba(110, 141, 228, 0.164);
  color: #ffffff;
}

/*FARVER*/
#first_section {
  padding: 2%;
  background: rgba(110, 228, 218, 0.164);
  border-radius: 0.5rem;
  margin-bottom: 2%;
}

#second_section {
  padding: 2%;
  background: rgba(185, 110, 228, 0.164);
  border-radius: 0.5rem;
  margin-bottom: 2%;
}

#third_section {
  padding: 2%;
  background: rgba(110, 141, 228, 0.164);
  border-radius: 0.5rem;
  margin-bottom: 2%;
}

#fourth_section {
  padding: 2%;
  background: rgba(228, 110, 149, 0.164);
  border-radius: 0.5rem;
  margin-bottom: 2%;
}

@media (min-width: 700px) {
  main {
    margin: 10%;
  }
  #first_section .col1 {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 2%;
    margin-block-start: 5%;
  }

  #first_section .col2 {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 2%;
  }

  #second_section .col1,
  .col2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2%;
  }

  #third_section .col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2%;
  }

  #fourth_section .col1,
  .forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
  #fourth_section .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  #fourth_section .col3 {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }

  #fourth_section .forside {
    gap: 5%;
  }
}
