.links {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  list-style: none;
  padding: 0%;
  padding-bottom: 8px;
  overflow-x: auto;
  justify-content: space-evenly;
  position: sticky;
  top: 0%;
  background-color: #e7dafc;
  padding: 1.5%;
}

.links a {
  list-style: none;
  text-decoration: none;
  color: rgb(76, 55, 82);
}

@media (min-width: 700px) {
  main {
    margin: 10%;
  }
  #first_section .col1 {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 2%;
    margin-block-start: 5%;
  }
  #first_section .col2 {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 2%;
  }
}
