/* GENERELT */
main {
  margin-inline: 5%;
}

* {
  background: black;
}

.col,
.col1,
.col2,
.col3,
picture,
.forside,
.scrum,
.tests,
.eftertanker,
ul {
  background-color: transparent;
}

img,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Economica", sans-serif;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

p,
a,
li,
figcaption {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: transparent;
}

/* HEADER */
.banner {
  background: #000000;
  padding: 5%;
}

.banner ul {
  list-style: none;
  padding: 0;
}

.banner a {
  padding: 0.5rem;
  justify-content: space-evenly;
  border-radius: 0.5rem;
}

.banner a:hover {
  background-color: #bbbbbb;
  color: #000000;
}

.logo {
  position: absolute;
  right: 7%;
  top: 6.5%;
  padding: 1%;
  border-radius: 0.5rem;
}

button {
  color: white;
}

/* BURGERMENU */
.toggle-btn {
  display: none;
}

header a {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#forside {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/*BURGERMENU */
@media (max-width: 700px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (min-width: 700px) {
  #forside {
    width: 40%;
  }

  .logo {
    font-size: 1.5rem;
    top: 10%;
  }
}

@media (min-width: 950px) {
  .logo {
    font-size: 1.5rem;
    top: 12%;
  }
}
